* {
    font-family: 'poppins', sans-serif;
}

body {
    background-image: url(/Media/backgroundCover.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

header {
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px;
    align-items: center;
    margin: 10px 15px 30px 15px;
}

h2 {
    color: #561050;
    font-size: 32px;
    font-family: Montserrat;
    display: flex;
    justify-content: center;
}

h3 {
    color: #561050;
    font-size: 2em;
    display: flex;
    justify-content: left;
    font-family: Montserrat;
    margin: 0;
}

h4 {
    font-weight: normal;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;
    align-items: center;
    margin: auto;

}

nav a {
    color: #561050;
    text-decoration: none;
    text-align: center;
    padding: 0 5px 0 5px;
    font-size: 1em;
    transition: transform 0.3s ease;
}

#explore {
    font-weight: 600;
}

.logo {
    width: 150px;
}

.buttons i,
#cart-icon {
    color: #561050;
    margin-right: 5px;
    padding-right: 10px;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

#cart-icon {
    margin-right: 10px;
}

.buttons i:hover,
#cart-icon:hover {
    color: #926289;
    transform: scale(1.1);
    cursor: pointer;
}

#cart-quantity {
    display: none;
    margin: 0;
    position: relative;
    top: 0px;
    right: 10px;
    background-color: hsla(305, 69%, 20%, 0.623);
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 10px;
    font-weight: 500;
}

#cart-info {
    display: none;
    position: absolute;
    top: 100%;
    left: 85%;
    background-color: #fff8f5;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 19;
    width: 220px;
    min-height: 200px;
    cursor: move;
    overflow-y: hidden;
}

#cart-header {
    position: absolute;
    z-index: 20;
}

#cart-header h4 {
    font-family: Montserrat;
    display: inline;
    font-weight: 600;
    font-size: 1.1em;
    color: #561050;
}

#cart-header hr {
    margin: 5px 0;
    border: none;
    background-color: #C198BE;
    height: 0.5px;
}

#close-cart {
    margin-left: 110px;
    background-color: transparent;
    color: #561050;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#close-cart:hover {
    color: #926289;
    transform: scale(1.1);
}

#cart-items {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    margin-top: 45px;
    font-size: 0.9em;
    text-align: left;
    overflow: hidden;
}

#cart-items td {
    border-bottom: 2px solid #926289;
}

#cart-items th,
#cart-items td {
    font-family: Montserrat;
    padding: 3px;
    font-size: 0.8em;
    font-weight: 400;
}

#cart-items th {
    background-color: #926289ba;
    color: white;
    font-weight: 500;
    font-size: 0.8em;
    padding: 3px 6px;
}

#price-header {
    border-radius: 0px 5px 0px 0px;

    span {
        color: #926289ba;
    }
}

#remove-col {
    display: none;
}

td.remove-item {
    border: none !important;
}

#remove-row {
    padding: 0px 0px 0px 5px;
    background-color: transparent;
    color: rgb(183, 13, 13);
    font-size: 1.1em;
    border: none;
    transition: transform 0.3s ease-in-out;
}

#remove-row:hover {
    color: rgb(203, 70, 46);
    transform: scale(1.1);
    cursor: pointer;
}

#cart-total {
    margin-top: 15px;
    font-size: 0.9em;
    font-weight: 300;
}

#cart-total h5,
#cart-total p {
    font-size: 0.9em;
    margin: 5px 0;
}

#cart-total h5 {
    font-weight: 600;
    color: #561050;
}

#cart-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#checkout {
    background-color: #561050;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 0.8em;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#checkout:hover {
    background-color: hsl(305, 50%, 30%);
    transform: scale(1.1);
}

#checkout:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#clear-cart {
    background-color: transparent;
    color: #561050;
    font-size: 0.75em;
    margin-top: 0.8em;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

a:hover {
    color: #926289;
    cursor: pointer;
    transform: scale(1.1);
}

.explore-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 0 10%;
}

.location-date {
    display: flex;
    flex-direction: column;
    justify-self: end;
    margin: 0;
    color: #424242;
    font-size: 12px;
}

.location-date i {
    color: #C198BE;
}

.city-select-toggle {
    position: relative;
    width: 100%;
    padding: 5px;
    padding-top: 15px;
    margin-top: 2%;
}

#city-select {
    border-radius: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.city-select-toggle>i {
    position: relative;
    z-index: 1;
    right: 50px;
}

.date-picker-toggle {
    position: relative;
    width: 100%;
    padding: 5px;
    padding-bottom: 0px;
    margin: 0;
}

#date {
    border-radius: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

#date::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    z-index: 10;
    right: 100px;
    width: 120px;
    margin: 0px;
    padding: 0;
    cursor: pointer;
}

.date-picker-toggle>i {
    position: relative;
    z-index: 1;
    right: 130px;
}

#categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px;
    align-items: center;
    margin: 1% 10% 2% 10%;
}

#categories button {
    border-radius: 5px;
    height: 30px;
    width: 150px;
    font-size: 0.9em;
    border: none;
    color: #561050;
    background-color: #c198bea8;
    transition: transform 0.3s ease;

}

#categories button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: hsla(304, 25%, 78%, 0.659);
}

#categories button>i {
    color: #561050;
}

.fa-solid.fa-caret-down:hover {
    color: #561050;
    cursor: pointer;
}

.stores-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    margin: 0 10% 10% 10%;
}

#store-card {
    width: 250px;
    border-radius: 16px 16px 16px 16px;
    box-shadow: #cecece 0px 2px 5px;
    transition: transform 0.3s ease;
}

#store-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#store-image {
    height: 250px;
    border-radius: 16px 16px 0 0;
    background: linear-gradient(136deg, rgb(158 158 158 / 80%) 0%, rgba(255, 255, 255, 0.5) 50%, rgb(197 197 197 / 0%) 100%), linear-gradient(0deg, rgb(107 107 107 / 30%) 0%, rgb(10 10 10 / 0%) 100%)
}

#store-name {
    font-family: 'Montserrat';
    font-size: 1.1em;
    font-weight: 700;
    color: #424242;
    margin: 10px 0 0 5px;
}

#store-location {
    font-family: 'Montserrat';
    font-size: 0.8em;
    color: #C198BE;
    margin: 10px 0 0 5px;
}

#store-budget {
    font-family: 'Montserrat';
    font-size: 0.9em;
    font-weight: 600;
    color: #561050;
    margin: 10px 0 10px 5px;
}

#store-card button {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.9em;
    width: 100%;
    background-color: #561050;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 20px;
}

#store-card button:hover {
    background-color: hsl(305, 50%, 30%);
    cursor: pointer;
}

/* Responsiveness */
@media (max-width: 992px) {
    .stores-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .explore-header {
        grid-template-columns: 1fr 1fr;

    }

    .location-date {
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }

    #categories button {
        width: 120px;
    }
}

@media (max-width: 768px) {
    .stores-cards {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .logo {
        width: 120px;
    }

    #categories button {
        grid-template-columns: 1fr 1fr;
        width: 110px;
        font-size: 0.8em;
        gap: 10px;
    }

    /* Adjust gap for the second row */
    #categories button:nth-child(n+1) {
        margin-top: 7px;
    }

    .explore-header {
        margin-top: 5%;
    }

}

@media (max-width: 770px) {
    header {
        margin: 5px 0 0 0;
    }

    nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0px;
    }

    nav a {
        font-size: 0.9em;
    }


    .location-date {
        margin: 0;
    }
}

@media (max-width: 576px) {
    nav {
        gap: 10px;
        padding-top: 10px;
    }

    nav a {
        padding: 0;
        font-size: 13px;
    }

    header div {
        padding-top: 10px;
        font-size: 10px;
    }

    .location-date {
        font-size: 0.8em;
        margin-top: 24px;

        p {
            padding: 0;
        }

        strong {
            font-size: 0.8em;

        }

        label {
            display: none;
        }

        #date {
            font-size: 0.9em;
            font-weight: 400;

        }
    }

    .logo {
        max-width: 80px;
    }
}