:root {
    --primary-color: #561050;
    --secondary-color: #926289;
    --highlight-color: #C198BE;
    --background-color: #FFF5F1;
    --font-family-primary: 'poppins', sans-serif;
    --font-family-secondary: 'Montserrat';
    --box-shadow: 0px 2px 5px rgba(206, 206, 206, 0.8), inset 0px -2px 5px rgba(0, 0, 0, 0.1);
}

* {
    font-family: var(--font-family-primary);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/Media/RadBack.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#border-image {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -2;
    width: 500px;
    opacity: 0.8;
}

.buttons i,
#cart-icon,
#remove-row,
#checkout,
#categories button,
.store-card:hover {
    transition: transform 0.3s ease;
}

.buttons i:focus,
#cart-icon:focus,
#remove-row:focus,
#checkout:focus,
#categories button:focus,
.store-card:focus {
    outline: 2px solid var(--secondary-color);
}

header {
    display: flex;
    position: sticky;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px;
    align-items: center;
    margin: 10px 15px 30px 15px;
    animation: fadeInUp 1.0s ease-out backwards;
}

h2,
h3,
#cart-header h4,
#checkout,
.store-budget {
    color: var(--primary-color);
}

h2 {
    font-size: 32px;
    font-family: var(--font-family-secondary);
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 2em;
    display: flex;
    justify-content: left;
    font-family: var(--font-family-secondary);
    margin: 0;
}

h4 {
    font-weight: normal;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 35px;
    align-items: center;
    margin: auto;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    padding: 0 5px 0 5px;
    font-size: 1em;
    transition: transform 0.3s ease;
}

#explore {
    font-weight: 600;
}

.logo {
    width: 10rem;
}

.buttons i,
#cart-icon {
    color: var(--primary-color);
    margin-right: 5px;
    padding-right: 10px;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

#cart-icon {
    margin-right: 10px;
}

.buttons i:hover,
#cart-icon:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
    cursor: pointer;
}

#cart-quantity {
    display: none;
    margin: 0;
    position: relative;
    top: 0px;
    right: 10px;
    background-color: hsla(305, 69%, 20%, 0.623);
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: 10px;
    font-weight: 500;
}

#cart-info {
    display: none;
    position: absolute;
    top: 100%;
    left: calc(100% - 250px);
    background-color: #fff8f5;
    border-radius: 2px;
    padding: 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 25;
    width: 250px;
    min-height: 260px;
    cursor: move;
    overflow-y: auto;
}

#cart-info h4 {
    color: var(--primary-color);
    font-family: var(--font-family-secondary);
    display: inline;
    font-weight: 600;
    font-size: 1.1em;

}

#cart-info hr {
    margin: 1px 0;
    border: none;
    background-color: var(--secondary-color);
    height: 2px;
    width: 100%;
}


#close-cart {
    margin-left: 120px;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#close-cart:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
}

#cart-items {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 0.9em;
    text-align: center;
    overflow: hidden;
}

#cart-items td {
    border-bottom: 2px solid var(--secondary-color);
}

#cart-items th,
#cart-items td {
    font-family: var(--font-family-secondary);
    padding: 8px;
    font-size: 0.8em;
    font-weight: 400;
}

#cart-items th {
    background-color: #926289ba;
    color: white;
    font-weight: 500;
    font-size: 0.8em;
    padding: 8px 10px;
}

#price-header {
    border-radius: 0px 5px 0px 0px;
    color: #926289ba;
}

#price-header span {
    color: #926289ba;
}

#remove-col {
    display: none;
}

td.remove-item {
    border: none !important;
}

#remove-row {
    padding: 0;
    background-color: transparent;
    color: rgb(183, 13, 13);
    font-size: 1.1em;
    border: none;
    transition: transform 0.3s ease-in-out;
}

#remove-row:hover {
    color: rgb(203, 70, 46);
    transform: scale(1.1);
    cursor: pointer;
}

#cart-total {
    margin-top: 15px;
    font-size: 0.9em;
    font-weight: 300;
}

#cart-total h5,
#cart-total p {
    display: inline;
    font-size: 0.9em;
    margin: 10px 0;
}

#cart-total h5 {
    font-weight: 600;
}

#cart-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

#checkout {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 0.8em;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

#checkout:hover {
    background-color: hsl(305, 50%, 30%);
    transform: scale(1.1);
}

#checkout:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#clear-cart {
    background-color: transparent;
    color: var(--primary-color);
    font-size: 0.75em;
    margin-top: 0.8em;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

a:hover {
    color: var(--secondary-color);
    cursor: pointer;
    transform: scale(1.1);
}

.explore-header {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    padding: 0 10%;
    animation: fadeInUp 1.0s ease-out backwards;
}

.location-date {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #424242;
    font-size: 12px;
}

.location-date i {
    color: var(--highlight-color);
}

.city-select-toggle {
    position: relative;
    width: 20%;
    padding: 5px;
    padding-top: 15px;
}

#city-select {
    border-radius: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.city-select-toggle>i {
    position: relative;
    z-index: 5;
    right: 50px;
}

.date-picker-toggle {
    position: relative;
    width: 30%;
    padding: 5px;
    padding-bottom: 0px;
    margin: 0;
}

#date {
    border-radius: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

#date::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    z-index: 5;
    right: 100px;
    width: 120px;
    margin: 0px;
    padding: 0;
    cursor: pointer;
}

.date-picker-toggle>i {
    position: relative;
    z-index: 6;
    right: 130px;
}

#categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    margin: 1% 10% 2% 10%;
    animation: fadeInUp 1.0s ease-out backwards;
}

#categories button {
    border-radius: 5px;
    padding: 10px 20px;
    min-width: 9em;
    margin-right: 2%;
    font-size: 0.9em;
    font-weight: 500;
    border: none;
    color: var(--primary-color);
    background-color: var(--highlight-color);
    transition: transform 0.3s ease;
    box-shadow: var(--box-shadow);
}

#categories button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: var(--secondary-color);
    color: #ffffff;
    box-shadow: var(--box-shadow);
}

.selected {
    background-color: var(--secondary-color) !important;
    color: #ffffff !important;
    box-shadow: var(--box-shadow) !important;
    transform: scale(1.0) !important;
}

#categories button>i {
    color: var(--primary-color);
}

.fa-solid.fa-caret-down:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.stores-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10% 10% 10%;
    animation: fadeInUp 1.0s ease-out backwards;
    column-gap: 5%;
    row-gap: 20px;
}

.store-card {
    width: 250px;
    border-radius: 16px 16px 16px 16px;
    box-shadow: #cecece 0px 2px 5px;
    transition: transform 0.3s ease-in-out;
}

.store-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.store-card.booked {
    display: none;
}

.store-image {
    height: 250px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
}

.store-image img {
    width: 250px;
}

.store-name {
    font-family: var(--font-family-secondary);
    font-size: 1.1em;
    font-weight: 700;
    color: #424242;
    margin: 10px 0 0 5px;
}

.store-location {
    font-family: var(--font-family-secondary);
    font-size: 0.8em;
    color: var(--highlight-color);
    margin: 10px 0 0 5px;
}

.store-budget {
    font-family: var(--font-family-secondary);
    font-size: 0.9em;
    font-weight: 600;
    margin: 10px 0 10px 5px;
}

.store-card button {
    font-family: var(--font-family-secondary);
    font-weight: 600;
    font-size: 0.9em;
    width: 100%;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 20px;
}

.store-card button:hover {
    background-color: hsl(305, 50%, 30%);
    cursor: pointer;
}

#error-message {
    display: none;
    padding: 5px;
    margin: 1% 0 0 0;
    animation: fadeInUp 1.0s ease-out backwards;
    color: #C70039;
    background-color: #c700381f;
    font-weight: 500;
    border-radius: 10px;
}

.loading-text,
.error-text {
    margin: auto;
    color: var(--highlight-color);
    font-size: 1.2em;
}

@media (max-width: 992px) {

    .date-picker-toggle,
    .city-select-toggle {
        width: 50%
    }


    #categories button {
        width: 120px;
    }


    #categories {
        row-gap: 10px;
    }
}

@media (max-width: 768px) {

    nav {
        gap: 10px;
    }

    nav a {
        font-size: 0.9em;
    }

    .logo {
        width: 120px;
    }

    .explore-header {
        margin-top: 5%;
    }

    .buttons i {
        font-size: 1.2em;
    }

    #categories {
        margin: 2% 10%;
        row-gap: 10px;
    }

    #categories button {
        min-width: 6em;
        padding: 8px 10px;
        font-size: 0.8em;
    }

    .store-card {
        width: 200px;
    }

    .store-image,
    .store-image img {
        height: 200px;
    }

    .store-image img {
        width: 200px;
    }

    .store-name,
    .store-location,
    .store-budget {
        font-size: 0.9em;
    }

    .store-card button {
        font-size: 0.8em;
        padding: 15px;
    }

    .city-select-toggle {
        width: 40%;
    }

    .date-picker-toggle {
        width: 60%;
    }

    #city-select {
        font-size: 12px;
    }

    #cart-info {
        width: 200px;
        min-height: 200px;
    }

    h3 {
        font-size: 1.5em;
    }
}

@media (max-width: 576px) {
    .stores-cards {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    nav {
        gap: 5px;
    }

    nav a {
        font-size: 0.8em;
    }

    .buttons i,
    #cart-icon {
        font-size: 0.9em;
        margin: 0;
        padding: 0;
    }

    .logo {
        width: 100px;
    }

    #categories button {
        font-size: 0.7em;
    }

    .explore-header {
        padding: 0 2%;
    }

    #categories {
        margin: 5% 2%;
        row-gap: 15px;
    }

    .location-date {
        font-size: 10px;
    }

    .store-card {
        width: 180px;
    }

    .store-image {
        height: 180px;
    }

    .store-image img {
        width: 180px;
    }

    .store-name,
    .store-location,
    .store-budget {
        font-size: 0.7em;
    }

    .store-budget img {
        width: 10px;
    }

    .store-card button {
        font-size: 0.75em;
        padding: 10px;
    }

    header {
        gap: 10px;
    }

    .city-select-toggle {
        width: 50%;
    }

    #city-select,
    #date {
        font-size: 10px;
        font-weight: 500;
    }

    .date-picker-toggle {
        width: 60%;
    }

    #cart-info {
        width: 180px;
        min-height: 180px;
    }

    #cart-info h4 {
        font-size: 0.9em;
    }

    #close-cart {
        margin-left: 80px;
    }

    #cart-items th,
    #cart-items td {
        font-size: 0.7em;
        padding: 3px;
    }

    #cart-total h5, #cart-total p {
        font-size: 0.7em;
    }

    #checkout, #clear-cart {
        font-size: 0.7em;
    }

    h3 {
        font-size: 1.2em;
    }
}