body {
    font-family: 'poppins', sans-serif;
    background-image: url(/Media/backgroundCover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px;
    align-items: center;
    margin: 10px 15px 30px 15px;
    animation: fadeInUp 1.0s ease-out backwards;
}


h2 {
    color: #561050;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

h3 {
    color: #926289;
    display: flex;
    justify-content: center;
    animation: fadeInUp 1.0s ease-out backwards;

}

h4 {
    font-weight: normal;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: auto;
    gap: 35px;

}

nav a {
    color: #561050;
    text-decoration: none;
    text-align: center;
    padding: 0 5px 0 5px;
    font-size: 1em;
    transition: transform 0.3s ease;
}

.account i {
    color: #561050;
    margin-right: 5px;
    padding-right: 10px;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.fa-solid.fa-cart-shopping{
    margin-right: 10px;
}

.account i:hover {
    color: #926289;
    cursor: pointer;
    transform: scale(1.1);
}

::placeholder,
select,
input {
    color: black;
    font-family: 'poppins', sans-serif;
}

#next,
#host {
    background-color: #561050;
    color: #ffffff;
}

#booking,
#payment {
    background-color: #FFF5F1;
    border: none;
    border-bottom: 3px solid #561050;
    border-radius: 0px;
}

#next,
#host {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;

}

#next {
    width: 100%;
    position: relative;
    animation: fadeInUp 1.0s ease-out backwards;
}

#host{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
input,
select {
    padding: 7px;
    border: 1px solid #561050;
    border-radius: 5px;
    background-color: #FFF5F1;
}

.riyal {
    width: 32px;
}


.logo {
    width: 150px;
}

h2 .riyal {
    width: 64px;
}

.container1,
.container3 {
    margin-top: 20px;
}

.buttons {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    animation: fadeInUp 1.0s ease-out backwards;
}
.buttons input {
    width: 15.25%;
    padding: 10px;
    border: none;
}

.order {
    border: none;
    border-radius: 20px;
    background-image: url(/Media/CheckCover.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20%;
    animation: fadeInUp 1.0s ease-out backwards;
}

hr {
    width: 80%;
    border-color: #926289;
}

.details span {
    display: flex;
    justify-content: flex-end;
}

.fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.info {
    margin-left: 10%;
}

.catagory {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    font-weight: bold;
}

.choice {
    position: relative;
    bottom: 30px;
    margin-left: 10%;
    color: #926289;
    font-size: 16px;
}

.tax,
.total {
    margin-left: 20%;
    font-weight: bold;
}

.price {
    position: relative;
    bottom: 25px;
    margin-right: 10%;
}

.container1,
.container2,
.container3,
.container4 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex: 1;
    width: 100%;
    animation: fadeInUp 1.0s ease-out backwards;
}

.container1 select,
.container1 input,
.container2 input,
.container2 select,
.container3 select,
.container3 input,
.container4 input {
    flex: 1 1 100%;
}

a:hover {
    color: #926289;
    cursor: pointer;
    transform: scale(1.1);
}

#next:hover{
    background-color: #926289;
    color: #561050;
    cursor: pointer;
}

@media (max-width: 576px) {
    header {
        flex-direction: row;
        .logo{ max-width: 80px;}
      nav a{
        font-size: 13px;
      }
      div {
       padding-top: 10px;
       font-size: 10px;
      }
      
      }
    .fields {
        grid-template-columns: 1fr;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }

    #next {
        width: 50%;
    }

    .buttons input {
        width: 90%;
    }

    .order {
        width: 100%;
    }
    nav{
        gap: 10px;
        padding-top: 10px;}

    .info {
        margin: 5%;
    }

    .container {
        display: grid;
    }

    
}

@media (max-width: 1100px) {
    .container1 input {
        width: 90%;
    }
}