body {
    font-family: 'poppins', sans-serif;
    background-image: url(/Media/backgroundCover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px;
    align-items: center;
    margin: 10px 0 30px 15px;
}

h2 {
    color: #561050;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

h3 {
    color: #926289;
    display: flex;
    justify-content: center;
}

h4 {
    font-weight: normal;
    margin-left: 5%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: auto;
    gap: 35px;

}

nav a {
    color: #561050;
    text-decoration: none;
    text-align: center;
    padding: 0 5px 0 5px;
    font-size: 1em;
    transition: transform 0.3s ease;
}

a:hover {
    color: #926289;
    cursor: pointer;
    transform: scale(1.1);
}

.account i {
    color: #561050;
    margin-right: 5px;
    padding-right: 10px;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.account i:hover {
    color: #926289;
    cursor: pointer;
    transform: scale(1.1);
}

::placeholder,
input {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.confirm-button,
#payment {
    background-color: #561050;
    color: #ffffff;
    font-family: poppins;
}

#host,
#booking {
    background-color: #FFF5F1;
    border-radius: 0px;
    border-bottom: 3px solid #561050;
}

#payment {
    border-radius: 5px 5px 5px 0;
}


.confirm-button {
    width: 100%;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    border: none;
}

input {
    padding: 7px;
    border: 1px solid #561050;
    border-radius: 5px;
    background-color: #FFF5F1;
}

.riyal {
    width: 32px;
}

h2 .riyal {
    width: 64px;
}

.logo {
    width: 150px;
}


.buttons {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.buttons input {
    width: 33%;
    padding: 10px;
    border: none;
}

.payment-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.payment-box {
    margin-left: 5%;
}

.payment-box h3 {
    font-weight: 600;
    font-size: 1em;
    justify-content: left;
    margin-left: 5%;
    color: black;
}

.payment-methods {
    display: flex;
    gap: 15px;
    margin-left: 5%;
}

.payment-methods i {
    font-size: 1.5em;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    background-color: rgb(86, 16, 80, 0.5);
    transition: transform 0.3s ease;
}

.payment-methods i:hover {
    background-color: #926289;
    transform: scale(1.1);
}

.fa-solid.fa-credit-card {
    font-size: 1.4em;

}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 5% 5%;
}

.order {
    border: 1px solid #FFF5F1;
    border-radius: 20px;
    background-image: url(/Media/CheckCover.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    max-width: 500px;
    margin: 45px 10px 20% 20%;
}

hr {
    width: 80%;
    border-color: #926289;
}

.details span {
    display: flex;
    justify-content: flex-end;
}


.info {
    margin-left: 10%;
}

.catagory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 5px 0;
}

.choice {
    color: #926289;
    font-size: 16px;
    margin-left: 10px;
}

.tax,
.total {
    margin-left: 20%;
    font-weight: bold;
}

.price {
    font-weight: bold;
}

.container1,
.container2,
.container3,
.container4 {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex: 1;
    width: 100%;
}

.container1 select,
.container1 input,
.container2 input,
.container2 select,
.container3 select,
.container3 input,
.container4 input {
    flex: 1 1 100%;
}

.guest-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.guest-options label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #561050;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
    accent-color: #561050;
}

a:hover {
    color: #926289;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #926289;
    color: #561050;
    cursor: pointer;
}

@media (max-width: 576px) {
    .fields {
        grid-template-columns: 1fr;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
    }

    #confirm-button {
        width: 50%;
    }

    .buttons input {
        width: 90%;
    }

    .order {
        width: 100%;
    }

    .logo {
        width: 150px;
    }

    .info {
        margin: 5%;
    }

    .container {
        display: grid;
    }
}

@media (max-width: 1100px) {
    .container1 input {
        width: 90%;
    }
}

/* 

.payment-methods {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.payment-box h3 {
    color: #561050;
    font-size: 20px;
    text-align: left;
    margin-bottom: 10px;
}

.payment-box input {
    width: 100%;
    padding: 14px;
    border: 1px solid #E5C5C0;
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: #FFF5F1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.card-details {
    display: flex;
    gap: 12px;
}

.card-details input {
    width: 50%;
}

.confirm-button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #561050;
    color: white;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    font-size: 18px;
    margin-top: 12px;
}

.confirm-button:hover {
    background-color: #926289;
} */
